name: Build and publish radiotools

on:
  push:
  workflow_dispatch:
  release:
    types:
      - published

jobs:
  dist:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: hynek/build-and-inspect-python-package@v2
        with:
          path: .

  distlong:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - uses: astral-sh/setup-uv@v7

      - name: Build SDist and wheel
        run: uvx --from build pyproject-build

      - uses: actions/upload-artifact@v5
        with:
          name: Packages-distlong-${{ github.job }}
          path: dist/*

      - name: Check metadata
        run: uvx twine check ./dist/*

  publishtrusted:
    needs: [ dist ]
    environment: pypi
    permissions:
      id-token: write
      attestations: write
      contents: read
    runs-on: ubuntu-latest
    if: github.event_name == 'release' && github.event.action == 'published'
    steps:
      - uses: actions/download-artifact@v6
        with:
          name: Packages
          path: dist

      - name: Generate artifact attestation for sdist and wheel
        uses: actions/attest-build-provenance@v3
        with:
          subject-path: "./dist/*"

      - uses: pypa/gh-action-pypi-publish@release/v1
